{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">BILANGAN IRRASIONAL</h1>

    <p> bilangan irasional adalah bilangan riil yang tidak bisa dibagi (hasil
        baginya tidak pernah berhenti). Dalam hal ini, bilangan irasional tidak bisa dinyatakan
        sebagai a/b, dengan a dan b sebagai bilangan bulat dan b tidak sama dengan nol. Jadi
        bilangan irasional bukan merupakan bilangan rasional. Contoh yang paling populer dari
        bilangan irasional ini adalah bilangan π, , dan bilangan e. </p>        
{% endblock %}