{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">BILANGAN ASLI</h1>

    <p> Dalam matematika, terdapat dua kesepakatan mengenai himpunan bilangan asli. Yang
        pertama definisi menurut matematikawan tradisional, yaitu himpunan bilangan bulat positif
        yang bukan nol {1, 2, 3, 4, ...}. Sedangkan yang kedua definisi oleh logikawan dan ilmuwan
        komputer, adalah himpunan nol dan bilangan bulat positif {0, 1, 2, 3, ...}. Bilangan asli
        merupakan salah satu konsep matematika yg paling sederhana dan termasuk konsep pertama
        yang bisa dipelajari dan dimengerti oleh manusia, bahkan beberapa penelitian menunjukkan
        beberapa jenis kera juga bisa menangkapnya.</p>
    <p> Wajar apabila bilangan asli adalah jenis pertama dari bilangan yang digunakan untuk
        membilang, menghitung, dsb. Sifat yang lebih dalam tentang bilangan asli, termasuk
        kaitannya dengan bilangan prima, dipelajari dalam teori bilangan. Untuk matematika lanjut,
        bilangan asli dapat dipakai untuk mengurutkan dan mendefinisikan sifat hitungan suatu
        himpunan.</p>
    <p> Konsep bilangan-bilangan yg lebih umum dan lebih luas memerlukan pembahasan lebih jauh,
        bahkan kadang-kadang memerlukan kedalaman logika untuk bisa memahami dan
        mendefinisikannya. Misalnya dalam teori matematika, himpunan semua bilangan rasional
        bisa dibangun secara bertahap, diawali dari himpunan bilangan-bilangan asli.
        Asli/Sail adalah himpunan bilangan bulat positif yang bukan nol. Nama lain dari bilangan ini
        adalah bilangan hitung atau bilangan yang bernilai positif (integer positif).
        Contoh: 1,2,3,4,5,6,7,8,….</p>

{% endblock %}