{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">BILANGAN</h1>
    <div class="text-center">
    <img src="https://media.suara.com/pictures/653x366/2016/10/05/o_1aua26rs31hql2aavjq1ovvj77a.jpg" alt="Logo Untirta" width="300px">
    </div>

    <h2>PENGERTIAN BILANGAN</h2>
    <p>Bilangan adalah suatu konsep matematika yang digunakan untuk pencacahan dan
        pengukuran. Simbol ataupun lambang yang digunakan untuk mewakili suatu bilangan disebut
        sebagai angka atau lambang bilangan. Dalam matematika, konsep bilangan selama bertahuntahun lamanya telah diperluas untuk meliputi bilangan nol, bilangan negatif, bilangan
        rasional, bilangan irasional, dan bilangan kompleks. Bilangan adalah suatu ide yang bersifat
        abstrak yang akan memberikan keterangan mengenai banyaknya suatu kumpulan benda.</p>
    <p>Lambang bilangan biasa dinotasikan dalam bentuk tulisan sebagai angka. Prosedur-prosedur
        tertentu yang mengambil bilangan sebagai masukan dan menghasil bilangan lainnya sebagai
        keluran, disebut sebagai operasi numeris. Operasi uner mengambil satu masukan bilangan
        dan menghasilkan satu keluaran bilangan. Operasi yang lebih umumnya ditemukan adalah
        operasi biner, yang mengambil dua bilangan sebagai masukan dan menghasilkan satu
        bilangan sebagai keluaran. Contoh operasi biner adalah penjumlahan, pengurangan,
        perkalian, pembagian, perpangkatan, dan perakaran. Bidang matematika yang mengkaji
        operasi numeris disebut sebagai aritmetika.</p>
    <p> Bilangan dibagi menjadi 5, yaitu Bilangan asli,bulat,cacah,irrasional,dan prima.
    



{% endblock %}