{% load static %}
<nav class="navbar navbar-expand-lg navbar-primary bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand">BILANGAN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="/fakultas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bilangan
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/asli">Bilangan Asli</a></li>
              <li><a class="dropdown-item" href="/bulat">Bilangan Bulat</a></li>
              <li><a class="dropdown-item" href="/cacah">Bilangan Cacah</a></li>
              <li><a class="dropdown-item" href="/irrasional">Bilangan Irrasional</a></li>
              <li><a class="dropdown-item" href="/prima">Bilangan Prima</a></li>
              <li><a class="dropdown-item" href="/rasional">Bilangan rasional</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/profil">Profil</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
    </div>
  </nav>